.main-container {
  margin-top: 4%;
  height:100vh;
  width: 100%;
  position: relative;
  padding-top: 5px;
  /* margin-top: 30px; */
  
}
.describe {
  top: 40%;
  z-index: 800;
  position: absolute;
  font-size: 5rem;
  color: rgb(255, 3, 3);
  font-weight: bolder;
  left: 8%;
  filter: brightness(80%);
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel span {
  width: 30px;
  height: 5px;
  background-color: transparent;
  gap: 2px;
  left: 10%;
  position: absolute;
}
@media screen and (orientation:portrait) {
  .main-container {
    margin-top: 30%;
    width: 100%;
    position: relative;
  }
  .describe {
    font-size: 2rem;
    z-index: 1;

  }
}
@media screen and (530px <= width <= 950px) {
  .main-container {
    margin-top: 15%;
  }
}
@media screen and (1020px <= width <= 1290px){
  .main-container {
    margin-top: 13%;
  }
  .describe {
    font-size: 2rem;
  }
}